* {
    box-sizing: border-box;
    margin:0;
}

/* ==== GRID SYSTEM ==== */
.outer{
	text-align: center;
}

.page{
	max-width: 1200px;
	width:100%;
	display: inline-block;
}
.topnav{
	background-color: white;
	height: 100px;
	text-align:left;
}

.container {
  width: 96%;
  margin:auto;
  color:black;
}

.row {
  position: relative;
  width: 100%;
  
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
	height: 100%;
}


.col-1 {
    width: 8.33%;
    background: white;
  }

  .col-2 {
    width: 16.66%;
    background: white;
  }

  .col-3 {
    width: 25%;
    background: white;   
  }

  .col-4 {
    width: 33.33%;
    background: white;
  }

  .col-5 {
    width: 41.67%;
    background: white;
  }

  .col-6 {
    width: 50%;
    background: white;
  }
  

  .col-7 {
    width: 58.33%;
    background:white;
  }

  .col-8 {
    width: 66.67%;
    background: white;
  }

  .col-9 {
    width: 75%;
    background: white;
  }

  .col-10 {
    width: 83.33%;
    background: white;
  }

  .col-11 {
    width: 91.67%;
    background: white;
  }

  .col-12 {
    width: 100%;
    background: white;
  }

/* This is clearfix, clearing content after each row*/
.row::after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:100px;
    border: 1px solid white;
   
}
/*NAVBAR*/
.page{
	position: relative;
	background-color: white;
	max-width: 1200px;
	width: 100%;
	height: 99vh;
	display: inline-block;
	margin-top: 10px;
}
.topofpage{
	height: 100px;
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
/*	background-color: aqua;*/
	align-items: center;
}
.navbar{
/*	background-color: aquamarine;*/
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	text-align: left;
	margin-left: 50px;
	margin-right: 20px;
}

.nav{
	padding-right: 10px;
}
.navright{
	width: 150px;
	margin-left: auto;
}
.content{
/*	background-color: aqua;*/
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.search{
	max-width: 200px;
/*	background-color: chartreuse;*/

}
.searchimg{
	width: 10%;
	margin-left: auto;
}

.logo{
/*	background-color: brown;*/
	max-width: 200px;
}
.logoimg{
	width: 100%;
	padding: 20px;
}
.menu{
	display: none;
}
.innermenu{
	margin-top:50px;
}
.innermenu div{
	padding-bottom: 20px;
}

#menu{
	display: none;
	width:80px;
	cursor:pointer;
}
#menu img{
	width: 40px;
}
#menuoverlay{
	position:absolute;
	top:0px;
	background-color: white;
	width:100%;
	height:98vh;
	text-align: center;
	left:0;
	display: none;
}

#close{
	position: absolute;
	top:10px;
	right:10px;
	font-size: 30px;
	cursor: pointer;
}

a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin-right: 20px;
}
a:hover{
	color: darkcyan
}

@media screen and (max-width: 850px){
	
	body{
/*		background-color: aqua;*/
	}
	.page{
		max-width: 400px;
	}
	#menu{
		display:inline-block;
	}
	
	#close{
		
	}

	.navbar{
		display: none;
	}
	.logo{
		display: none;
	}
	.menu img{
		width: 40px;
		padding: 20px;	
	}
}
	
@media screen and (min-width: 800px) and (max-width: 1250px){
	
	body{
/*		background-color: black;*/
	}
	.page{
		max-width: 1000px;
	}
	
	}
.artworkimage:hover{
	animation-fill-mode: forwards;
	animation-name: zoom;
	animation-duration: .5s;
}
@keyframes zoom{
	from {transform: scale(1)}
	to {transform: scale(1.05)}
}
