.cardholder{
	text-align: center;
	
}
.card{
	position: relative;
	background-color: aquamarine;
	display: inline-block;
	width: 300px;
	height: 300px;
	border-bottom-right-radius: 150px;
	border-top-left-radius: 150px;
	
	
 webkitfilter: sepia(0); 
      filter: sepia(0);
	transition: 1s -webkit-filter ease;
		transform: rotate(0deg);
	transition: 1s ease;
}



.card:hover {
 webkitfilter: sepia(1); 
      filter: sepia(1);
	transform: rotate(90deg);
	transition: 1s ease;
	
	
}

.card_text{
	margin: 0;
}